* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

img {
    object-fit: contain;
}

/* Media Queries */

@media (max-width: 500px) {
    a {
        font-size: 1.5rem;
    }
}